<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Welcome to IOTA Binary Converter</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/pace.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>

  

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container-fluid">

    <div class="row" id="app">
      
      <div class="col-lg-8 col-md-6" >

        <div style="margin-top:5%; margin-left:5%;">
          <h3>Trytes - Binary converter. </h3>
          <small>This page converts Trytes ASCII representation to Bytes hex values (trit5) and vice versa. For a perfect conversion, Trytes should be 5 char aligned.</small>
           <h6 class="mt-2">Trytes</h6>  
           <textarea class="form-control" v-model="trytes"  v-bind:class="[trytesValid ? 'is-valid':'is-invalid']" rows="10" style="z-index: auto; margin-bottom:20px;position: relative; line-height: 24px; font-size: 16px; transition: none;"></textarea>
           <p v-show="!trytesValid">Trytes Value Invalid</p>
           <div class="row">
            
            <div class="col-lg-3">   
           <button v-on:click="t2b" :disabled="!trytesValid" class="btn btn-success m-1"><i class="fa fa-arrow-down"></i> Trytes to Bytes</button>
           </div>
           <div class="col-lg-3">
             <input type="checkbox" id="checkbox" v-model="showTrits"><label class="pt-2" for="checkbox">Show Intermediate trits</label>
           </div>
            <div class="col-lg-6">   
           <button v-on:click="b2t" :disabled="!bytesValid" class="btn btn-success m-1" style="float:right;"><i class="fa fa-arrow-up"></i> Bytes to Trytes</button>
           </div>
           
           </div>
           
           <h6 v-show="showTrits" class="mt-2">Trits</h6>
           <textarea id="trits" v-show="showTrits" class="form-control" v-model="trits" rows="10" style="z-index: auto; position: relative; line-height: 24px; font-size: 16px; transition: none;"></textarea> 
           
           
           <h6 class="mt-2">Bytes</h6>  
           <textarea id="bytes" v-model="bytes" v-bind:class="[bytesValid ? 'is-valid':'is-invalid']" class="form-control" rows="10" style="z-index: auto; position: relative; line-height: 24px; font-size: 16px; transition: none;">
            </textarea>  
           <p>For a perfect conversion, Input bytes should be aligned by 3.</p>

          </div>
        </div>
        
        
      <div class="col-lg-2 col-md-3">
    <div style="margin-top: 25%">
      <h4>Bytes-Trits Mapping. </h4>
    <table class="table table-responsive">
    <thead style="display: block;">
      <tr>
        <th width="50" >Hex</th> <th width="50">Dec</th> <th width="130" >Trits </th>
      </tr>
    </thead>
    <tbody style="display: block;  height: 800px;overflow-y: auto;overflow-x: hidden;">
      <tr class="table-active" v-for="(item, index) in tritList">
        <td width="50"> {{ ("00"+ (((index -121) >>> 0) & 0xFF).toString(16)).slice(-2).toUpperCase() }} </td> <td width="50">{{index -121}} </td> <td width="130">{{item}} </td>
      </tr>
    </tbody>
  </table>
        </div>
      </div>
      
      

      <div class="col-lg-2 col-md-3">
    <div style="margin-top: 25%">
      <h4>Trytes-Trits Mapping. </h4>
    <table class="table table-responsive">
    <thead style="display: block;">
      <tr>
        <th width="50" >Tryte</th> <th width="50">Dec</th> <th width="130" >Trits </th>
      </tr>
    </thead>
    <tbody style="display: block;  height: 800px;overflow-y: auto;overflow-x: hidden;">
      <tr class="table-active" v-for="(item, index) in trytesTrits">
        <td width="50"> {{ trytesAlphabet.charAt(index).toUpperCase() }} </td> <td width="50">{{index}} </td> <td width="130">{{item}} </td>
      </tr>
    </tbody>
  </table>
        </div>
      </div>
      
      
      
      
      </div>
    </div>
  </div>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script src="http://peterolson.github.com/BigInteger.js/BigInteger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="./app.js"></script>
</html>
